.modal-new-blog{
    position: fixed;
    top:50%;
    left:50%;
    width: min(90%, 500px);
    height: 300px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background: rgb(65, 65, 65);
    box-shadow: 1px -2px 20px 14px yellowgreen;

    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        position: relative;


        h2{
            text-align: center;
            color: yellowgreen;
        }

        input, textarea{
            margin-top: 10px;
            border: none;
            padding: 3px;
            border-radius: 3px;
            background-color: black;
            color: yellowgreen;

            &::placeholder {
                color: yellowgreen;
            }
        }

        textarea{
            height: 50px;
        }

        .tags{
            height: 30px;
        }

        button{
            margin-top: 20px;
            padding: 5px;
            border: none;
            border-radius: 3px;
            background-color: yellowgreen;
            color: black;
            font-weight: bold;
            cursor: pointer;
        }

        label{
            color: yellowgreen;
            background: #000;
            font-size: 1.2rem;
            width: fit-content;
            width: 30px;
            height: 30px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: absolute;
            top:10px;
            right: 10px;
            cursor: pointer;
        }
        
    }
}