.blog-list{
    background-color: black;
    color: white;
    padding: 40px;
    // height: 100;
    ul{
        width: min(1000px, 80%);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        gap: 30px;
    }
}